.App{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: coral;
    
}

h1{
    text-align: center;
}

form{
    width: 40%;
    background-color: white;
    margin: 0 50px;
    border-radius: 5%;
}

button{
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: violet;
    height: 50px;
}